# Q1 Create one variable containing following type of data:

### (i) String

In [1]:
a='akanksha'

In [2]:
a

'akanksha'

### (ii) List

In [3]:
list1=[120,'shayam',56.87,'gita']

In [4]:
list1

[120, 'shayam', 56.87, 'gita']

### (iii) Float

In [5]:
b=456.09

In [6]:
b

456.09

### (iv) Tuple

In [7]:
tuple1=(2,4,5,7,3)

In [8]:
tuple1

(2, 4, 5, 7, 3)

# Q2 Given are some following variables containing data:

### (i) var1=' '

#### It is a string-type variables(str). We have used double or single quotes to represent string.

### (ii) var2='[DS','ML','Python' ]

#### It is a string-type variable.

### (iii) var3 = ['DS','ML','python']

#### It is a list type variable.

### (iv) var4 = 1.

#### It is a int type variable.

# Q4 Create a list of length 10 of your choice cointaing multiple types of data. using for loop print the element and its data type.

In [2]:
a=[45,6.5,'jay',True,'sita',2,False, 4,'ram',3]
for i in a:
    print(i)
    print(type(i))

45
<class 'int'>
6.5
<class 'float'>
jay
<class 'str'>
True
<class 'bool'>
sita
<class 'str'>
2
<class 'int'>
False
<class 'bool'>
4
<class 'int'>
ram
<class 'str'>
3
<class 'int'>

# Q.3 Explain following operator

In [6]:
#1. Division(/)
d=4/2

In [7]:
d

2.0

In [8]:
#2. modulus(%) it givn remainder value 
m = 5%2
m

1

In [9]:
#4.** used for power calculation

In [10]:
p=9**3

In [11]:
p

729

### Q.5 using a whlie loop. Verify if the number A  is purely divisible by number B and if then how many times it can be divisible.

In [12]:
A= 63
B=2
i=0
while A%B ==0:
    A=A/B
    i=i+1
if A ==1:
    print ("A is purely divisible ",i, "times")
else:
    print("not divisible")

not divisible

### Q.6 Create a list containing 25 int type data item. using for loop and if condition print if the element is divisible by 3 or not

In [13]:
N = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in N:
    if i%3 ==0:
        print(i,"is divisible by 3")
    else:
        print(i,"not divisible by 3")

1 not divisible by 3
2 not divisible by 3
3 is divisible by 3
4 not divisible by 3
5 not divisible by 3
6 is divisible by 3
7 not divisible by 3
8 not divisible by 3
9 is divisible by 3
10 not divisible by 3
11 not divisible by 3
12 is divisible by 3
13 not divisible by 3
14 not divisible by 3
15 is divisible by 3
16 not divisible by 3
17 not divisible by 3
18 is divisible by 3
19 not divisible by 3
20 not divisible by 3
21 is divisible by 3
22 not divisible by 3
23 not divisible by 3
24 is divisible by 3
25 not divisible by 3

### Q.7 What do you understand about mutable and immutable data type? Give examples for both this property.

#### Mutable :- mutable object can be changed after it is created without changing its identity 
#### Example:- list,set

#### Immutable:- immutable datatypes are objects that cannot be modified after they have been created.
#### Example :- int, string ,complex

In [16]:
my_list =[2,5,'apple']
my_list[1]=8
my_list

[2, 8, 'apple']

In [17]:
s='nootbook'
s[3]

't'

In [18]:
s[3]=i

TypeError: 'str' object does not support item assignment